<nav class="navbar">
 <div class="wrapper">
 <a style="font-family: prot" class="navbar-brand" href="/">ShareCookie</a>
  <div class="navbar-right">
   <a class="navbar-item" onclick="window.history.back();"><span class="glyphicon glyphicon-arrow-left btn" aria-hidden="true"></a>
    {{#if user}}
    <font color="white">|</font>
    <a class="navbar-item {{#equal filter 'date'}}selected{{/equal}}" href="/"><span class="glyphicon glyphicon-home btn" aria-hidden="true"></a>
    {{/if}}
  </div>
  </div>
</nav>

<div class="wrapper">
 
<div class="frame body-frame">
<div class="bit-2">
<h1>About ShareCookie</h1>
<p>Production of ShareCookie began on <b>January 14th, 2016</b>. It was started by Andrew Tarnowski, 
who at the time had only been learning web programming for <b>2 weeks</b>. It was originally created as an anonymous posting forum, where anyone could post, without an account.
There were no likes, dislikes, comments, profiles, rebakes, users, images, links, markdown, followers, or html support. This is the first known screenshot
taken of ShareCookie taken at <b>1:21 AM</b>, about <b>15 minutes</b> after the site was started:</p>
<img style="border:1px solid black; max-width:100%; max-height:100%;" src="/images/first.jpg">
<h2><i>The Creators:</i></h2>
    </div>
    </div>
</div>