</div>
  <nav class="navbar navbar-default navbar-fixed-top">
  <a href="/"><font size=6 class="test affix" color="white"><b>ShareCookie</b></font></a><a class="btn2 " href="/">Home <span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
</nav>
</div>
<br>
<h1>What in the world is ShareCookie?</h1>
<p><b>ShareCookie is a site that was built in -literally- one day by two raving lunatics. You'll be able to read about them below! But for now, we'll tell you exactly what the fuck ShareCookie is :D Some of the features of the site are:</b>
</p>