</div>
  <nav class="navbar navbar-default navbar-fixed-top">
  <a href="/"><font size=6 class="test affix" color="white"><b>ShareCookie</b></font></a><a class="btn " href="/help">Home <span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
</nav>
</div>

<!-- LikeBtn.com BEGIN -->
<!-- LikeBtn.com END -->