</div>
  <nav class="navbar navbar-default navbar-fixed-top">
  <a href="/"><font size=6 class="test affix" color="white"><b>ShareCookie</b></font></a><a class="btn2 " href="/">Home <span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
</nav>
</div>
<br>
<h1>What in the world is ShareCookie?</h1>
<p><b>ShareCookie is a site that was built in -literally- one day by two raving lunatics. You'll be able to read about them below! But for now, we'll tell you exactly what the fuck ShareCookie is :D Some of the features of the site are:</b>
<br><br>- Fast, anonymous (or not) posting.
<br>- You can vent, post lyrics, pretty much anything that fits within 200 characters.
<br>- We give you 200 because Twitter is stupid and greedy and only gives you 140 ;)
<br>- A bad words filter that is super easy to get past. Just type F-uck. Or you could be cool like us and type whatever the damn fucking shit you want :D
<br>- But you're not cool like us though so ;)
<br>- Sorry hehe. You're pretty cool. But I mean if you can figure out my email and password on Cloud9, you can literally put pictures of dicks all over the site. But good luck with that lol.
<br>- Okay well yeah. So you can post stuff. And read stuff.. And yeah that's pretty much it. Remember it was made in 1 day for ~fun~ and we MIGHT put more features on :)
<br><br>
It's pretty simple to figure out. Just make up a title, a name, and then write something and click Share Cookie. See? Not too hard :)
<br><br>P.S. Do not ASK why our name is ShareCookie. I bought the stupid domain a year ago and that's all I could think of lol
</p>

<h1>Meet the two douchebags behind this stupid site!</h1>
<div class="container">
  <h2>Cunt #1</h2>
  <h3>Name: Drew Tarnowski<br>Age: 16<br>Skills: None. Absolutely none.<br>Featured in image is his girlfriend, Jessica :)</h3>
  <img src="/images/drew.jpg" width=230 height=350>
</div>
<div id="div3">
  <h2>Cunt #2</h2>
  <h3>Name: Oliver Pope<br>Age: 16<br>Skills: He's an alright coder</h3><br>
  <img src="/images/olive.jpg" width=330 height=350>
</div>