<!-- BEGIN MESSAGE.HBS -->
<nav class="navbar">
 <div class="wrapper">
  <a style="font-family: prot" class="navbar-brand" href="/">ShareCookie</a>
  <div class="navbar-right">
   <a class="navbar-item" onclick="window.history.back();"><span class="glyphicon glyphicon-arrow-left btn" aria-hidden="true"></a>
   {{#if user}}
    <a class="navbar-item {{#equal filter 'date'}}selected{{/equal}}" href="/"><span class="glyphicon glyphicon-home btn" aria-hidden="true"></a>
    {{/if}}
    {{#if user}}
    <a class="navbar-item" href="/auth/logout"><span class="glyphicon glyphicon-log-out btn" aria-hidden="true"></a>
    {{/if}}
  </div>
 </div>
</nav>


<div class="wrapper">
<div class="frame body-frame">

<h1>Coming Soon!</h1>
		
</div>

</div>
