<nav class="navbar">
 <div class="wrapper">
  <a style="font-family: prot" class="navbar-brand" href="/">ShareCookie</a>
  <div class="navbar-right">
   {{#if user}}
    <a class="navbar-item {{#equal filter 'date'}}selected{{/equal}}" href="/"><span class="glyphicon glyphicon-home btn" aria-hidden="true"></a>
   <!-- <font color="white">|</font> !-->
    {{/if}}
    {{#if user}}
    <font color="white">|</font>
    <a class="navbar-item" href="/user/{{user.username}}"><span class="glyphicon glyphicon-user btn" aria-hidden="true"></a>
    <font color="white">|</font>
    <a class="navbar-item" href="/auth/logout"><span class="glyphicon glyphicon-log-out btn" aria-hidden="true"></a>
    {{/if}}
  </div>
 </div>
</nav>

<div class="wrapper">
 
 <div class="frame body-frame" >
     
     </div>
     </div>