<nav class="navbar">
  <div class="navbar-right">
    {{#if user}}
    <a class="navbar-item" href="/auth/logout">Log Out</a>
    {{/if}}
  </div>
  <a class="navbar-brand" href="/">ShareCookie</a>
</nav>