<nav class="navbar">
  <div class="navbar-right">
    {{#if user}}
    <a class="navbar-item" href="/auth/logout">Log Out</a>
    {{/if}}
  </div>
  <a style="font-family: abr" class="navbar-brand" href="/">ShareCookie</a>
</nav>

<div class="wrapper">
<div class="bit-50">
  <div class="frame body-frame">
<h1>Page not finished.</h1>
</div>
</div>
</div>