/* cookie */
.meta-item {
  color: #bbb;
}

.content {
  font-size: 1em;
}

.wrapper {
  margin: 0 5%;
}

/* Navbar */
.navbar {
  width: 100%;
  padding: 1em 1%;
  background: RGBA(100, 205, 15, 1);
  position: fixed;
}

.navbar-right {
  float: right;
  padding-top: .4em;
}

.navbar-item {
  text-decoration: none;
  font-size: 1em;
  color: #fff;
}

.selected {
  font-weight: bold;
}

.navbar-brand {
  font-size: 1.5em;
  text-decoration: none;
  color: #fff;
  text-shadow: 0 0 20px #fff;
}

.body-frame {
  padding-top: 70px;
}

/* Display */
.form-fixed {
  position: fixed;
}
textarea {
  width: 90%;
  font-size: 1.4em;
  color: #111;
  height: 150px;
  padding: 1em;
   border: 1px solid #FFF;
  border-radius: 4px;
  outline: 0;
  resize: none;
}
textarea:hover, textarea:active, textarea:focus, .input-gif:hover, .input-gif:active, .input-gif:focus, .input-title:hover, .input-title:active, .input-title:focus {
  border: 1px solid #00cc00;
  outline: 0;
}

.input-username, .input-password {
  width: 100%;
  font-size: 1.4em;
  color: #111;
  padding: .5em;
  margin: .5em 0;
}

.input-title {
  width: 80%;
  font-size: 1.8em;
  padding: .5em;
  border: 1px solid #FFF;
  border-radius: 4px;
}

.input-gif {
  width: 80%;
  font-size: 1em;
  padding: .5em;
  border: 1px solid #FFF;
  border-radius: 4px;
}

.btn {
     /* Green */
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btn:hover {
  background-color: #00b300;
  color: white;
  text-decoration: none;
}

@media (max-width: 30em) {
  .form-fixed  {
    position: relative;
  }
}

.cookie-content {
  font-size: 1.4em;
  font-weight: 500;
}

.cookie-caption {
  color: #808080;
}

.a {
  text-decoration: none;
}